@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: $color-font;
  letter-spacing: 0.12em;
  font-feature-settings: 'palt';

  @include font-sans;

  @include media-sp {
    line-height: 1.7;
  }

  @include media-pc {
    font-size: 1.8em;
    line-height: 1.9;
  }
}

.container {
  position: relative;

  @include media-sp {
    padding: $blank-space-sp $blank-space-sp;
  }

  @include media-pc {
    max-width: $width-max;
    padding: $blank-space-pc $blank-space-pc;
    margin-right: auto;
    margin-left: auto;
  }
}

.display-none-sp {
  @include media-sp {
    display: none;
  }
}

.display-none-pc {
  @include media-pc {
    display: none;
  }
}
